.section-perfil-usuario {
  width: 100%;
  height: 800px;
  background-color: #ccdce6;
  display: flex;
}

.sidebar {
  height: 100%;
  background-color: #f3f8fc;
}

.opciones-sidebar {
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 20px 40px 0px 40px;
  gap: 20px;
}

.opciones-sidebar h2 {
  color: #14334c;
  display: block;
}

.opciones-sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.opciones-sidebar ul li {
  color: #14334c;
  list-style: none;
}

.opciones-sidebar ul li:hover {
  cursor: pointer;
}

.vista-informacion-perfil {
  padding: 20px 30px 0px 30px;
  width: 100%;
  height: 100%;
}

.header-perfil {
  width: 100%;
  height: 120px;
  display: flex;
}

.foto-perfil {
  padding: 50px;
  border-radius: 50%;
  background-color: #f3f8fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.informacion-perfil {
  height: 100%;
  align-content: center;
  padding: 0px 0px 0px 30px;
}

.contenedor-config-user {
  height: auto;
  background-color: #f3f8fc;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  padding: 20px;
}

.cards-info-user {
    padding: 20px;
    background-color: #ccdce6;
    flex: 1;
    border-radius: 5px;
}

.form-info-user {
    display: flex;
    flex-direction: column;
}

.form-info-user input {
  width: 50%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #f3f8fc;
  margin-bottom: 10px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

.btn-save {
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  background-color: #ef4444;
  border: none;
  color: #f3f8fc;
  cursor: pointer;
}

/* Mobil */

.opciones-sidebar-mobil {
    display: none;
}

@media (max-width: 768px) {
  .sidebar {
    padding: 10px;
  }

  .opciones-sidebar{
    display: none;
  }

  .opciones-sidebar-mobil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .opciones-sidebar-mobil ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .btn-sidebar-mobil {
    color: #14334c;
    list-style: none;
  }

  .selected-btn-sidebar {
    color: #ef4444;
  }

  .opciones-sidebar-mobil ul li:hover {
    cursor: pointer;
  }

  .form-info-user input {
    width: 100%;
  }
}
