/* Estilo de fondo del body para que se ajuste a los colores de Nexo */
body {
    background-color: #E1E9EF;
}

/* Clase manual */
.manual {
    background-color: #E1E9EF;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    border-radius: 5px;
    max-width: 1200px;
    margin: 40px auto;
    line-height: 1.6;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

/* Estilo para clase manual h1 */
.manual h1 {
    text-align: center;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 0;
}

/* Estilo para clase manual h2 */
.manual h2 {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #003366;
    border-radius: 6px;
}

/* Estilo para clase manual p */
.manual p {
    margin: 12px 0;
}

/* Estilo para clase manual ul, ol */
.manual ul, .manual ol {
    margin: 15px 0 25px 30px;
    text-align: left;
}

/* Estilo para clase manual li */
.manual li {
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 6px;
}   